HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.gitlab-ci.yml
.settings
.springBeans
.sts4-cache
logs/
.mvn/
.apt_generated/
.apt_generated_tests/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
.checkstyle
### VS Code ###
.vscode/
!/src/main/resources/META-INF/app.properties
